@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  body {
    background: theme(colors.neutral.800);
  }

  ::selection {
    color: theme(colors.neutral.800);
    background-color: theme(colors.primary);
  }
}
